<%- include('partials/header'); -%>
<body>
 <h1>Load -> Register-> Configure & Execute Pipeline</h1>
    <form  action="/" method="post">
        <div class="form-row">
            <div class="col">
              <input type="text"  name="bucket" id="bucket" class="form-control" placeholder="s3-bucket">
            </div>
            <div class="col">
              <input type="password" name="accesskey" id="access" class="form-control" placeholder="s3-accessKey">
            </div>  
            <div class="col">
                <input type="password" name="secret" id="secret"  class="form-control" placeholder="s3-secret">
              </div> 
            <div class="col">
               <input type="text" class="form-control"  name="prefix" id="prefix" placeholder="data"
               
               data-toggle="tooltip" data-placement="top" title="prefix e.g bucket/prefix/- to be used for artifact registeration
               The dataset would be read from this location"
                >
            </div>
            <div class="col">
                <input type="text" required="true" class="form-control" name="scenario_id" id="scenario_id" placeholder="scenario_id">
            </div>
            <div class="col">
                <input type="text" required="true" class="form-control" name="name" id="name" placeholder="name">
            </div>
        
            <div class="col">
                <input type="text" required="true"  class="form-control" name="executableId" id="executableId" placeholder="executableId">
            </div>
            <div class="col">
                <input type="text" required="true" class="form-control" name="description" id="description" placeholder="A meaningful description">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Submit</button>      
            </form>
          </div>
          <br><br><br>
        <hr>
          <div class="form-row">
            <div class="col">
            <input type="text" class="form-control" name="artifact" id="artifact" placeholder="The Artifact Registered" value="<%=new_artifact.id%>">
            </div>
            <div class="col">
            <input type="text" class="form-control" name="configuration" id="configuration" placeholder="The Configuration Created" value="<%=new_config.id%>">
            </div>
            <div class="col">
            <input type="text" class="form-control" name="execution" id="execution" placeholder="The execution triggered" value="<%=new_exec%>">
            </div>
           </div>     
     
</body>
</html>